<section class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="index.html">Home</a></li>
        <li><a href="idea.html">Idea</a></li>
        <li><a href="/setting/<%= user._id %>">Profile</a></li>
        <li><a href="/setting/<%= user._id %>">Setting</a></li>
      </ol>
      <h2>Profile</h2>
    </div>
  </section>