<section class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href=""><%= page %></a></li>
      <li><a href=""><%= title %></a></li>
    </ol>
    <h2><%= page + " " + title%></h2>
  </div>
</section>