<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../css/style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
        <!--
    404 That's an error!.
    Music Discord:
    https://discord.gg/7xf3kPx
    -->
    <div class="container404">
        <h2>
        <span>G</span>
        <span>o</span>
        <span>o</span>
        <span>g</span>
        <span>l</span>
        <span>e</span>
        </h2>
        <p><b>404</b> That's an error.</p>
        <p>The requested URL /chrome was not found on this server.<br> <p class="error">That’s all we know.</p></p>
        <img src="//www.google.com/images/errors/robot.png" alt="Robot">
    </div>
</body>
</html>